/* ============== Layout and Formatting Titles and Subtitles =================*/
.quarto-listing {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-family: "Petrona";
  font-size: 3rem;
  color: #FA2FBD;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 0.9em;
}

.subtitle {
  font-family: 'Bebas Neue', sans-serif;
  color: #666260;
  text-transform: none;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center !important;
  margin-top: 2em !important;
  margin-bottom: 2em !important;
}

.category-filters {
  margin-bottom: 3em !important;
  text-align: center;
}

.content-container.listing-pagination {
  display: none;
}

/* =================== Format Single Publications in List ====================*/
.listing-pub-title {
  font-family: 'Petrona';
  color: #235347 !important;
  text-transform: none;
  font-size: 20px;
  font-weight: 700; 
}

.listing-pub-author, .listing-pub-journal {
  color: #757883;
  font-size: 15px;
  margin-bottom: 8px;
}

.listing-description {
  margin-top: 10px;
  font-size: 1em;
  color: #666;
  margin-bottom: 0.5em;
  text-align: justify;
}

.listing-pub-url {
  font-size: 13px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.publication-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.category-button {
  padding: 4px 7px;
  background-color: #f8faf7;
  color: #235347 !important;
  border: 0.3px solid #B2BEB5!important;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.7em;
  margin-bottom: 3px;
  margin-right: 5px;
}

.category-button:hover {
  background-color: #e8ece4;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .quarto-listing {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .listing-pub-title {
    font-size: 18px;
  }

  .listing-pub-author, .listing-pub-journal {
    font-size: 14px;
  }

  .listing-description {
    font-size: 0.9em;
  }

  .category-button {
    font-size: 0.6em;
    padding: 3px 5px;
  }
}
