/*-- scss:defaults --*/
/*-- scss:rules --*/
/* global layout styles */
/* helpful for docs with no header space
.cr-section .narrative-col > *:first-child {
  padding-block-start: 10svh !important;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&display=swap$');

.title {
  font-family: "Petrona";
  font-size: 3rem;
  color: #FA2FBD;
  font-weight: 500;
  margin-bottom: 1.2em !important;
  /*text-align: center;*/
}


h1 {
color: #7F8A80;
font-family: "Petrona";
font-size: 1.9rem;
font-weight: 500;
margin-top: 1.2rem;
margin-bottom: 0.9rem;
}


h2 {
color: #235347; 
font-family: "Petrona";
font-size: 1.4rem;
font-weight: 500;
margin-top: 1.2rem;
margin-bottom: 0.9rem;
}


h3 {
color: #7F8A80; 
font-family: "Petrona";
font-size: 1.2rem;
font-weight: 500;
margin-top: 1.2rem;
margin-bottom: 0.9rem;
}


body {
  font-family: "Segoe UI Symbol"!important;
  max-width: 2000px;
  /*margin: 0 auto;*/
  padding: 0;
  width: 100%;
  color: #666260;
  background-color: #f8f8f6!important;
}



a {
  font-family: "Petrona" !important;
  color: #235347 !important;
  font-size: 1em;
  text-transform: none;
}


/* ============================= Navigation Bar ============================= */

.navbar {
  background: transparent;
}

.navbar-title {
  font-family: 'Petrona';
  font-size: 1.25rem;
  color: #235347;
  text-align: center;
}

/* navbar links */
.navbar-nav .nav-link {
    font-family: 'Petrona';
    color: #235347 !important;
    text-transform: uppercase;
    letter-spacing: .1em; 
    border-bottom: 0px hidden;    
    margin: 0px 10px 0px 10px; 
    padding: 2px 2px 4px 2px !important;

    &:hover {
      border-bottom: 1px solid !important;
      padding: 2px 2px 0px 2px !important;
      color: #FA2FBD; !important
    }
}


/* =========================== Closeread Styling ============================ */

.cr-section {
  display: grid;
  grid-template-rows: 1fr;
  /*background-color: var(--cr-section-background-color);*/
  background-color: #D1D7D3;
}
.cr-section.cr-column-screen {
  grid-column: screen-start/screen-end !important;
  z-index: 998;
  opacity: 0.999;
  background-color: #D1D7D3;
}
.cr-section .narrative-col {
  grid-row: 1;
  /*font-family: var(--cr-narrative-font-family);*/
  font-family: Source Sans Pro !important;
  /*font-size: var(--cr-narrative-font-size);*/
  font-size: 1.05rem;
}
.cr-section .narrative-col .trigger {
  padding-block: 45svh;
  padding-inline: 24px;
}
.cr-section .narrative-col .trigger .narrative {
  padding: 0.7em 0.75em;
}
.cr-section .narrative-col .trigger .narrative > p {
  margin-bottom: 0;
}
.cr-section .narrative-col .trigger:has(.cr-spacer) {
  visibility: hidden;
  padding-block: 0;
}
.cr-section .sticky-col {
  grid-row: 1;
}
.cr-section .sticky-col .sticky-col-stack {
  display: grid;
  height: 100dvh;
  position: sticky;
  overflow: hidden;
  top: 0;
}
.cr-section .sticky-col .sticky-col-stack .sticky {
  grid-area: 1/1;
  margin: auto;
  opacity: 0;
  transition: opacity linear 0.5s, color 0.7s linear, transform 1s ease-in-out, transform-origin 1s ease-in-out;
}
.cr-section .sticky-col .sticky-col-stack .sticky:has(.line-block) {
  font-family: var(--cr-poem-font-family);
  transition: transform 0.8s ease-in-out;
}
.cr-section .sticky-col .sticky-col-stack .sticky:has(.line-block) {
  font-family: var(--cr-poem-font-family);
  transition: transform 0.8s ease-in-out, font-size 0.8s ease-in-out;
}
.cr-section .sticky-col .sticky-col-stack div.sourceCode {
  background-color: rgb(233, 236, 239);
}
.cr-section .sticky-col .sticky-col-stack .cr-active {
  opacity: 1;
}
.cr-section .sticky-col .sticky-col-stack .cr-active.cr-hl-within .sourceCode span[id^=cb] {
  opacity: 0.3;
  transition: opacity linear 0.3s;
}
.cr-section .sticky-col .sticky-col-stack .cr-active.cr-hl-within .sourceCode span[id^=cb].cr-hl {
  opacity: 1;
  transition: opacity linear 0.3s;
}
.cr-section .sticky-col .sticky-col-stack .cr-active.cr-hl-within div.line-block span[id^=lb] {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.7s linear;
}
.cr-section .sticky-col .sticky-col-stack .cr-active.cr-hl-within div.line-block span[id^=lb].cr-hl {
  color: rgb(0, 0, 0);
  transition: color 0.7s linear;
}
.cr-section .sticky-col .sticky-col-stack .cr-active.cr-hl-within div.line-block span[id^=lb] span.cr-hl {
  color: rgb(0, 0, 0);
  transition: color 0.7s linear;
}

/* mobile sizing (bootstrap: xs) is always overlay-center */
@media (max-width: 575.98px) {
  .cr-section.sidebar-left,
  .cr-section.sidebar-right,
  .cr-section.overlay-left,
  .cr-section.overlay-right,
  .cr-section.overlay-center {
    grid-template-columns: 1fr;
  }
  .cr-section.sidebar-left .narrative-col,
  .cr-section.sidebar-right .narrative-col,
  .cr-section.overlay-left .narrative-col,
  .cr-section.overlay-right .narrative-col,
  .cr-section.overlay-center .narrative-col {
    grid-column: 1;
    z-index: 1;
    margin-inline: auto;
    background-color: transparent;
  }
  .cr-section.sidebar-left .narrative-col .narrative,
  .cr-section.sidebar-right .narrative-col .narrative,
  .cr-section.overlay-left .narrative-col .narrative,
  .cr-section.overlay-right .narrative-col .narrative,
  .cr-section.overlay-center .narrative-col .narrative {
    background-color: var(--cr-narrative-background-color-overlay);
    color: var(--cr-narrative-text-color-overlay);
    padding: 0.3em 0.5em;
    border-radius: var(--cr-narrative-border-radius);
  }
  .cr-section.sidebar-left .sticky-col,
  .cr-section.sidebar-right .sticky-col,
  .cr-section.overlay-left .sticky-col,
  .cr-section.overlay-right .sticky-col,
  .cr-section.overlay-center .sticky-col {
    grid-column: 1;
  }
}
.overlay-left,
.overlay-center,
.overlay-right {
  grid-template-columns: 1fr;
}
.overlay-left .narrative-col,
.overlay-center .narrative-col,
.overlay-right .narrative-col {
  grid-column: 1;
  z-index: 1;
  transition: opacity 0.5s ease-in-out;
  max-width: var(--cr-narrative-overlay-max-width);
  min-width: var(--cr-narrative-overlay-min-width);
}
.overlay-left .narrative-col .narrative,
.overlay-center .narrative-col .narrative,
.overlay-right .narrative-col .narrative {
  background-color: var(--cr-narrative-background-color-overlay);
  color: var(--cr-narrative-text-color-overlay);
  border-radius: var(--cr-narrative-border-radius);
}
.overlay-left .sticky-col,
.overlay-center .sticky-col,
.overlay-right .sticky-col {
  grid-column: 1;
}

.overlay-left .narrative-col {
  justify-self: start;
  margin-left: var(--cr-narrative-outer-margin);
}

.overlay-center .narrative-col {
  justify-self: center;
}

.overlay-right .narrative-col {
  justify-self: end;
  margin-right: var(--cr-narrative-outer-margin);
}

.sidebar-left {
  grid-template-columns: var(--cr-narrative-sidebar-width) 2fr;
}
.sidebar-left .narrative-col {
  grid-column: 1;
  margin-inline: 0;
  background-color: var(--cr-narrative-background-color-sidebar);
}
.sidebar-left .narrative-col .narrative {
  padding: 0 0.75em;
  color: var(--cr-narrative-text-color-sidebar);
}
.sidebar-left .sticky-col {
  grid-column: 2;
}

.sidebar-right {
  grid-template-columns: 2fr var(--cr-narrative-sidebar-width);
}
.sidebar-right .narrative-col {
  grid-column: 2;
  margin-inline: 0;
  background-color: var(--cr-narrative-background-color-sidebar);
}
.sidebar-right .narrative-col .narrative {
  padding: 0 0.75em;
  color: var(--cr-narrative-text-color-sidebar);
}
.sidebar-right .sticky-col {
  grid-column: 1;
}

.presentation-mode.overlay-left,
.presentation-mode.overlay-center,
.presentation-mode.overlay-right,
.presentation-mode.sidebar-left,
.presentation-mode.sidebar-right {
  grid-template-columns: 1fr !important;
}
.presentation-mode.overlay-left .narrative-col,
.presentation-mode.overlay-center .narrative-col,
.presentation-mode.overlay-right .narrative-col,
.presentation-mode.sidebar-left .narrative-col,
.presentation-mode.sidebar-right .narrative-col {
  grid-column: 1 !important;
  z-index: 1 !important;
  margin-inline: 30% !important;
  opacity: 0 !important;
  transition: opacity 0.5s ease-in-out;
}
.presentation-mode.overlay-left .sticky-col,
.presentation-mode.overlay-center .sticky-col,
.presentation-mode.overlay-right .sticky-col,
.presentation-mode.sidebar-left .sticky-col,
.presentation-mode.sidebar-right .sticky-col {
  grid-column: 1 !important;
}

/* debug styles */
body.cr-debug .cr-poem {
  background-color: rgba(255, 255, 0, 0.6);
  border: 1px solid orange;
}
body.cr-debug .sticky {
  opacity: 0.8;
}
body.cr-debug .narrative-col .trigger {
  background: rgba(0, 208, 255, 0.5);
  border: 1px solid orange;
  border-radius: var(--cr-narrative-border-radius);
}
body.cr-debug .narrative-col .trigger.new-trigger {
  background: lightgreen;
}

/* remove header option */
body.cr-removeheaderspace #quarto-content main#quarto-document-content {
  padding-top: 0;
  margin-top: 0;
}
body.cr-removeheaderspace #quarto-content main#quarto-document-content .quarto-title-block {
  display: none;
}

/* configurable style variables. use bootstrap variables where possible */
:root {
  --cr-narrative-background-color-overlay: #708090e1;
  --cr-narrative-text-color-overlay: white;
  --cr-narrative-background-color-sidebar: transparent;
  --cr-narrative-text-color-sidebar: black;
  --cr-narrative-border-radius: 1em;
  --cr-narrative-overlay-max-width: 527.98px;
  --cr-narrative-overlay-min-width: none;
  --cr-narrative-outer-margin: 5%;
  --cr-narrative-font-family: var(--bs-body-font-family);
  --cr-narrative-font-size: 1.15rem;
  --cr-poem-font-family:  "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
  --cr-narrative-sidebar-width: 1fr;
  --cr-section-background-color: lightgrey;
}

/*# sourceMappingURL=closeread.css.map */
