/* ===================== titles and subtitles of blog ======================= */
.title {
  font-family: "Petrona";
  font-size: 3rem;
  color: #FA2FBD;
  font-weight: 500;
  margin-bottom: 1.2em !important;
  /*text-align: center;*/
}


h1 {
color: #7F8A80;
font-family: "Petrona";
font-size: 1.9rem;
font-weight: 500;
margin-top: 1.2rem;
margin-bottom: 0.9rem;
}


/*  */
h2 {
color: #235347; 
font-family: "Petrona";
font-size: 1.4rem;
font-weight: 500;
margin-top: 1.2rem;
margin-bottom: 0.9rem;
}


h3 {
color: #7F8A80; 
font-family: "Petrona";
font-size: 1.2rem;
font-weight: 500;
margin-top: 1.2rem;
margin-bottom: 0.9rem;
}



/* ============= ToC section points (right side of blog post) =============== */

/* all non-selected sections*/
.sidebar nav[role="doc-toc"] ul > li > a {
    font-family: "Petrona";
    color: #98A399 !important;
    text-transform: none;
}

/* selected section*/
.sidebar nav[role="doc-toc"] ul > li > a.active {
    font-family: "Petrona";
    color: #235347 !important;
    font-weight: bold;
    text-transform: none;
}

/* when hovering over section*/
.sidebar nav[role="doc-toc"] ul > li > a:hover {
    color: #FA2FBD !important;
    font-family: "Petrona";
    text-transform: none;
}



/* ======= Customize the size of title block banner (useR! blog posts) ====== */
.quarto-title-block .quarto-title-banner {
  background-size: cover;
  background-position: center;
  height: auto;
  min-height: 230px; /* Adjust this value as needed */
}




/* =============== Customize the size of code input/ output ================= */

pre.sourceCode {
  background-color: #f8f9f8;
  border: 0.9px solid #ddd;
  border-radius: 4px;
  padding: 1em;
}

code.sourceCode {
  font-family: 'Courier New', monospace;
  font-size: 1em;
}


.cell-output {
  background-color: #f8f9f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.5em;
  font-family: 'Courier New', monospace;
  font-size: 0.9em;
  /*white-space: pre-wrap;
  word-wrap: break-word;*/
}



.teenytiny-code{
  font-size: 65%  
}


.tinyer-code{
  font-size: 72%  
}


.tiny-code{
  font-size: 85%  
}


.callout-note {
  border-left-color: #235347 !important;
}

.callout-note .callout-header {
  background-color: #B2BEB5 !important;
}



/* Suppress references (as part of quarto appendices) at the end of blog post */

#quarto-bibliography {
  display: none; /* suppress the reference list at the end of a blog post*/
}

#quarto-appendix {
  /* coz the quarto appendix (=bibliography) leaves a small box --> 
  hide with same background color as rest of site*/
  background-color: #FBFAF9!important; 
  border-color: #FBFAF9!important;
}

